
ul{
    background-color: #bebebe;
}
ul li{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: inline;
}

.image_border{
    outline-style: solid;
}
image{
    height: 200px;
    width: 200px;
    margin-left: 5px;
}