.serif{
    font-family: serif;
}
.san{
    font-family: sans-serif;
}
.mon{
    font-family: monospace;
}
.cur{
    font-family: cursive;
}
.fan{
    font-family: fantasy;
}

.style_normal{
    font-style: normal;
}
.style_italic{
    font-style: italic;
}
.style_oblique{
    font-style: oblique;
}

.w100{
    font-weight: 100;
}.w400{
    font-weight: 400;
}.w700{
    font-weight: 700;
}